@model CrudWithStoreprocedure.Models.Customer
@{
    ViewBag.Title = "Edit";
}

<div class="col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form action="/Home/Edit" method="post">
            <label>Name</label>
            @*<input type="text" name="Name" class="form-control" /><br />*@
            @Html.HiddenFor(Model => Model.id)
            @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control" })<br />
            <label>Age</label>
            @*<input type="number" name="Age" class="form-control" /><br />*@
            @Html.TextBoxFor(Model => Model.Age, new { @class = "form-control" })<br />
            <label>Phone</label>
            @*<input type="number" name="Phone" class="form-control" /><br />*@
            @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control" })<br />
            <label>City</label>
            @Html.TextBoxFor(Model => Model.City, new { @class = "form-control" })<br />

            @*<input type="text" name="City" class="form-control" /><br />
        <input type="hidden" name="Id" />*@
            <input type="submit" value="Update" class="form-control" style=" background:red;color:white" /><br />
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
